<% if (title == 'Create Category') { %>
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                                <div class="card-header">
                                <h4>Create Category</h4>
                                </div>
                                <div class="card-body">        
                                    <div class="form-group">
                                        <form action="" method="post">
                                          Category Name:<br>
                                          <input class="form-control" type="text" name="name" value="Category Name">
                                          <br>
                                          <input class="btn btn-primary btn-xs" type="submit" value="Create Category">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } else if (title == 'Delete Category') { %>
         
    <% } else if (title == 'Update Category') { %>
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                               <div class="card-header">
                                  <h4>Update Category</h4>
                                </div>
                            <div class="card-body">         
                                <div class="form-group">
                                    <form action="/expense/category/<%= category.id %>/update" method="post">
                                       Category Name:<br>
                                      <input class="form-control" type="text" name="name" value="<%= category.name %>">
                                      <br>
                                      <input class="btn btn-primary btn-xs" type="submit" value="Update Category">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else if (title == 'Category Details') { %>
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid"><br>
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Category Details</h4>
                                </div>
                                    <div class="card-body"> 
                                         <h3>Category Details of <%= category.category_name %></h3>
                                         <p>I am a category for this ID = <%= category.id %></p>
                                         <p>Category Name: <%= category.category_name %></p>
                                         <div class='row'>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <a href="/expense/category/<%= category.id %>/update">
                                               <button type="submit" class="btn btn-block btn-info btn-xs">Edit</button>
                                                    </a>
                                            </div> 
                                        </div>
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <a href="/expense/category/<%= category.id %>/delete">
                                                <button type="submit" class="btn btn-block btn-danger btn-xs">Delete </button>
                                                    </a>
                                            </div>
                                         </div>
                                        </div>
                                    </div>
                                </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } else if (title == 'Category List') { %>
        <!--category VIEW END HERE-->
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1 class="m-0 text-dark"><%= title %></h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">
                  <ol class="breadcrumb float-sm-right">
      
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-lg">
                      Create Category
                    </button>
                    
                  </ol>
                </div><!-- /.col -->
              </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
            <!-- /.content-header -->
            <section class="content">
                <div class="row">
                    <div class="col-md-10">
                <!-- Default box -->
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">All Categories</h3>
          
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                      <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                            
                            <tr>
                                <th style="width: 10%">
                                    Category
                                </th>
                                <th style="width: 10%" class="text-center">
                                    Action
                                </th>
                            </tr>
                            
                        </thead>
                        <tbody>
                            <% categories.forEach(function(category) { %>
                            <tr>
                                <td><a href="/expense/category/<%= category.id %>"><%= category.name%> <%= category.category_name%></a></td>
                                <td class="project-actions text-center">
                                    <a class="btn btn-danger btn-sm" href="/expense/category/<%= category.id %>/delete">
                                        <i class="fas fa-trash">
                                        </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- modal -->
                <div class="modal fade" id="modal-lg">
                    <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title">Create Category</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form action="/expense/category/create" method="post">
                                <div class="form-group">
                                  <label for="inputcategory">Category</label>
                                  <input type="text" name="name" id="inputcategory" class="form-control">
                                </div>
                                <div class="form-group">
                                  <input class="btn btn-primary" type="submit" value="Create category">
                                </div>
                                
                            </form>
                        </div>
                        <div class="modal-footer w3-bar">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
          </div>
          </div>
            </section>
        <!-- /.content -->
        <% } else { %>
        
        <% } %>
    <!--CATEGORY VIEW END HERE-->
    <!--CATEGORY VIEW END HERE-->