<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
	<!--begin::Row-->
		<div class="row">
			<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-3 kt-widget-3--brand">
							<div class="kt-widget-3__content">
								<div class="kt-widget-3__content-info">
									<div class="kt-widget-3__content-section">
										<div class="kt-widget-3__content-title">Expenses</div>
										<div class="kt-widget-3__content-desc">Total Number Of Expenses</div>
									</div>
									<div class="kt-widget-3__content-section">
										<% const count = (user.Role.role_name == 'Manager') ? expenseCount : myExpenses.length; %>
										<span class="kt-widget-3__content-number"><%= Number (count || 0).toLocaleString(); %></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--end::Portlet-->
			</div>
			<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-3 kt-widget-3--danger">
							<div class="kt-widget-3__content">
								<div class="kt-widget-3__content-info">
									<div class="kt-widget-3__content-section">
										<div class="kt-widget-3__content-title">Total Expenses</div>
										<div class="kt-widget-3__content-desc">Amount of All Expenses</div>
									</div>
									<div class="kt-widget-3__content-section">
										<span class="kt-widget-3__content-bedge">₦</span>
										<% const sum = (user.Role.role_name == 'Manager') ? totalSum : myTotalSum; %>
										<span class="kt-widget-3__content-number"><%= (sum || 0).toLocaleString(); %></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--end::Portlet-->
			</div>
			<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-3 kt-widget-3--info">
							<div class="kt-widget-3__content">
								<div class="kt-widget-3__content-info">
									<div class="kt-widget-3__content-section">
										<div class="kt-widget-3__content-title">Employees</div>
										<div class="kt-widget-3__content-desc">Total Number of Employees</div>
									</div>
									<div class="kt-widget-3__content-section">
										<span class="kt-widget-3__content-number"><%= Number (employeeCount || 0).toLocaleString(); %></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--end::Portlet-->
			</div>
			<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-3 kt-widget-3--success">
							<div class="kt-widget-3__content">
								<div class="kt-widget-3__content-info">
									<div class="kt-widget-3__content-section">
										<div class="kt-widget-3__content-title">Expenses Today</div>
										<div class="kt-widget-3__content-desc">Total Number of Today's Expenses</div>
									</div>
									<div class="kt-widget-3__content-section">
										<span class="kt-widget-3__content-number"><%= Number (expensesTodayCount || 0).toLocaleString(); %></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--end::Portlet-->
			</div>
			<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-3 kt-widget-3--success">
							<div class="kt-widget-3__content">
								<div class="kt-widget-3__content-info">
									<div class="kt-widget-3__content-section">
										<div class="kt-widget-3__content-title">Expenses Today</div>
										<div class="kt-widget-3__content-desc">Total of Today's Expenses</div>
									</div>
									<div class="kt-widget-3__content-section">
										<span class="kt-widget-3__content-bedge">₦</span>
										<% const todaySum = (user.Role.role_name == 'Manager') ? totalSumToday : myTotalSumToday; %>
										<span class="kt-widget-3__content-number"><%= (todaySum || 0).toLocaleString(); %></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--end::Portlet-->
			</div>
			<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-3 kt-widget-3--success">
							<div class="kt-widget-3__content">
								<div class="kt-widget-3__content-info">
									<div class="kt-widget-3__content-section">
										<div class="kt-widget-3__content-title">Expenses Yesterday</div>
										<div class="kt-widget-3__content-desc">Total of Yesterday's Expenses</div>
									</div>
									<div class="kt-widget-3__content-section">
										<span class="kt-widget-3__content-bedge">₦</span>
										<% const yesterdaySum = (user.Role.role_name == 'Manager') ? totalSumYesterday : myTotalSumYesterday; %>
										<span class="kt-widget-3__content-number"><%= (yesterdaySum || 0).toLocaleString(); %></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--end::Portlet-->
			</div>
			<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-3 kt-widget-3--success">
							<div class="kt-widget-3__content">
								<div class="kt-widget-3__content-info">
									<div class="kt-widget-3__content-section">
										<div class="kt-widget-3__content-title">Expenses This Week</div>
										<div class="kt-widget-3__content-desc">Total of this week's Expenses</div>
									</div>
									<div class="kt-widget-3__content-section">
										<span class="kt-widget-3__content-bedge">₦</span>
										<% const weeklySum = (user.Role.role_name == 'Manager') ? totalSumThisWeek : myTotalSumThisWeek; %>
										<span class="kt-widget-3__content-number"><%= (weeklySum || 0).toLocaleString(); %></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--end::Portlet-->
			</div>
			<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-3 kt-widget-3--success">
							<div class="kt-widget-3__content">
								<div class="kt-widget-3__content-info">
									<div class="kt-widget-3__content-section">
										<div class="kt-widget-3__content-title">Expenses This Month</div>
										<div class="kt-widget-3__content-desc">Total of this month's Expenses</div>
									</div>
									<div class="kt-widget-3__content-section">
										<span class="kt-widget-3__content-bedge">₦</span>
										<% const monthlySum = (user.Role.role_name == 'Manager') ? totalSumThisMonth : myTotalSumThisMonth; %>
										<span class="kt-widget-3__content-number"><%= (monthlySum || 0).toLocaleString(); %></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--end::Portlet-->
			</div>
			<div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

				<!--begin::Portlet-->
				<div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
					<div class="kt-portlet__body kt-portlet__body--fluid">
						<div class="kt-widget-3 kt-widget-3--success">
							<div class="kt-widget-3__content">
								<div class="kt-widget-3__content-info">
									<div class="kt-widget-3__content-section">
										<div class="kt-widget-3__content-title">Expenses This Year</div>
										<div class="kt-widget-3__content-desc">Total of this year's Expenses</div>
									</div>
									<div class="kt-widget-3__content-section">
										<span class="kt-widget-3__content-bedge">₦</span>
										<% const yearlySum = (user.Role.role_name == 'Manager') ? totalSumThisYear : myTotalSumThisYear; %>
										<span class="kt-widget-3__content-number"><%= (yearlySum || 0).toLocaleString(); %></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--end::Portlet-->
			</div>
		</div>

	<!--end::Row-->
	<div class="kt-portlet kt-portlet--mobile">
		<div class="kt-portlet__head kt-portlet__head--lg">
			<div class="kt-portlet__head-label">
				<h3 class="kt-portlet__head-title">
					List of all expenses
				</h3>
			</div>
		</div>
		<%
			const displayExpense = (user.Role.role_name == 'Manager') ? expenses : myExpenses;
		%>
	
		<div class="kt-portlet__body">
			<% if (displayExpense.length == 0 || displayExpense == 'None') { %>
			    <div class="alert alert-light alert-elevate" role="alert">
              		<div class="alert-icon"><i class="flaticon-warning kt-font-brand"></i></div>
              		<div class="alert-text">
              			<h3 class="kt-portlet__head-title">
              			  No expenses created yet for this Department
              			</h3> 
              		</div>
              	</div>
			<% } else { %>
			
				<!--begin: Datatable -->
				
				<table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
					<thead>
						<tr>
							<th>Title</th>
							<th>Amount</th>
							<th>Status</th>
							<th>Employee</th>
							<th>Time</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<% displayExpense.forEach(function(expense) { %>
							<% 
								const type = (expense.status == 'Approved') ? 'success' 
					              : (expense.status == 'Pending') ? 'warning' 
					              : (expense.status == 'Declined') ? 'danger'
					              : null;
				             %>
							<tr>
								<td><a href="/expense/<%= expense.id %>"><%= expense.title %></a></td>
								<td>₦ <%= Number (expense.amount || 0).toLocaleString(); %></td>
								<td><span class="kt-badge kt-badge--<%=type%> kt-badge--inline kt-badge--pill"><%= expense.status %></span></td>
								<td><%= expense.user.firstname %> <%= expense.user.lastname %></td>
								<td><%= moment(expense.createdAt).fromNow() %></td>
								<td nowrap> 
									<a href="/expense/<%= expense.id %>" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="View">
										<i class="la la-eye"></i>
									</a>
									<% if (expense.status == 'Pending') { %>
										<a class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Delete" onclick="deleteExpense(<%=expense.id%>)">
											<i class="la la-trash"></i>
										</a>
									<% } %>
									
								</td>
							</tr>
						<% }); %>
						
					</tbody>
				</table>
	
				<!--end: Datatable -->
			<% } %>
		</div>
	</div>
</div>

<script>
	const deleteExpense = async (expenseId)=>{
		Swal.fire({
        title: 'Are you sure?',
        text: "Your action cannot be reversible!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, Delete it!'
      }).then( async (result) => {
        if (result.value) {
		    try {
		      const expense = await fetch(`${Route.apiRoot}/expense/${expenseId}/delete`, {
		        // mode: 'no-cors',
		        method: 'POST'
		      });
		      let response = await expense.json();
		      if (response.status) {
		        swal.fire(
		            'Sucessful!',
		            'Expense deleted successfully!',
		            'success'
		          )
		          location.href = `/dashboard`;
		      }
		    } catch (error) {
		      console.log(error);
		      // show network error notification
		      swal.fire(
		        'Oops!',
		        'An error was encountered! Please review your network connection.',
		        'error'
		      )
		    }
        }
  });
	}
</script>