<!--Expense VIEW STARTS HERE -->
<% if (title == 'Create Expense') { %>
  
<% } else if (title == 'Expense Details') { %>

  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1> <%= title %> </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active"><%= title %></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= title %></h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
            <div class="row">
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Expense Title</span>
                    <span class="info-box-number text-center text-muted mb-0"><%= expense.title %></span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Expense Amount</span>
                    <span class="info-box-number text-center text-muted mb-0"><%= expense.amount %></span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Status</span>
                    <span class="info-box-number text-center text-muted mb-0"><%= expense.status %> <span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h4>Expense in details</h4>
                  <div class="post">
                    <p><b>Expense Description: </b> <%= expense.desc %></p>
                    <p><b>Expense Amount: </b>₦<%=Number(expense.amount).toLocaleString(); %></p>
                    <p><b>Expense Status: </b><%= expense.status %></p>
                    <p><b>Expense Type: </b><%= expense.type %></p>
                    <p><b>Expense Category: </b><%= expense.category %></p>
                    <p><b>Expense Department: </b><%= expense.department %></p>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
            <h3 class="text-primary"><%= moment(expense.createdAt).calendar() %></h3>
            <br>
            <div class="text-center mt-5 mb-3">
              <a href="#" class="btn btn-sm btn-primary">Back to My Expenses</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>
    
<% } else if (title == 'Update Expense') { %>
    
<% } else if (title == 'Delete Expense') { %>

<% } else if (title == 'All Expenses') { %>
      <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"><%= title %></h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
    
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">All Expenses</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                      <thead>
                      <tr>
                          <th>Title</th>
                          <th>Amount</th>
                          <th>Status</th>
                          <th>Employee</th>
                          <th>Time</th>
                          <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                          <% expenses.forEach(function(expense) { %>
                      <tr>
                        <td><%= expense.title %></td>
                        <td>₦<%=Number(expense.amount).toLocaleString(); %></td>
                        <td>
                          <% if (expense.status == 'Approved' ) { %>
                          <p class="badge badge-success"><%= expense.status %></p>
                          <% } else if (expense.status == 'Disapproved') { %>
                          <p class="badge badge-danger"><%= expense.status %></p>
                          <% } else { %>
                          <p class="badge badge-warning"><%= expense.status %></p>
                          <% } %>
                        </td>
                        
                        <td><%= expense.Employee.first_name %> <%= expense.Employee.last_name %></td>
                        <td><%= moment(expense.createdAt).fromNow() %></td>
                        <td class="">
                          <a class="btn btn-primary btn-sm" href="/expense/expense/<%= expense.id %>">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>
                      </td>
                      </tr>
                          <% }); %>
                      </tbody>
                      <tfoot>
                      <tr>
                          <th>Title</th>
                          <th>Amount</th>
                          <th>Status</th>
                          <th>Employee</th>
                          <th>Time</th>
                          <th>Action</th>
                      </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
          </div>
      </div>

      <!-- modal -->
      <div class="modal fade" id="modal-lg">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create New Expense</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div>
                  <form action="/expense/expense/create" method="post">
                  <div class="form-group">
                    <label for="inputName">Expense Title</label>
                    <input type="text" name="title" id="inputName" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="inputDescription">Expense Description</label>
                    <textarea name="desc" id="inputDescription" class="form-control" rows="4"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="inputAmount">Amount</label>
                    <input type="text" name="amount" id="inputAmount" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="inputCategory">Category</label>
                    <select class="form-control custom-select" name="category">
                      <option selected disabled>Select a Category</option>
                      <option value="Transportation">Transportation</option>
                      <option value="Travels">Travels</option>
                      <option value="Logistics">Logistics</option>
                      <option value="Cleaning">Cleaning</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputType">Type</label>
                    <select class="form-control custom-select" name="type">
                      <option selected disabled>Select a Type</option>
                      <option value="Internal">Internal</option>
                      <option value="External">External</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputDepartment">Department</label>
                    <select class="form-control custom-select" name="department">
                      <option selected disabled>Select a Department</option>
                      <option value="Enginering">Enginering</option>
                      <option value="Customer Service">Customer Service</option>
                      <option value="Trainings">Trainings</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="inputEmployee">Employee</label>
                    <select class="form-control custom-select" name="employee_id">
                      <option selected disabled>Select an Employee</option>
                        <% employees.forEach(function(employee) { %>
                        <option value="<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></option>
                        <% }); %>
                    </select>
                  </div>
                  <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Create Expense">
                  </div>
                  
                  </form>
                </div>
            <div class="modal-footer w3-bar">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- /.row -->
      </div><!-- /.container-fluid -->
  </div>
  </div>
  <!-- /.content -->
<% } else { %>
<% } %>
  
<!--EXPENSE VIEW END HERE-->