<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <%- include ('../partials/header') %>
        </nav>
        <!-- /Navbar -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            
            <%- include ('../partials/left-sidebar') %>
        </aside>
        <!-- /Main Sidebar Container -->

        <div class="content-wrapper">
            <%- body %>
        </div>

        <footer>
            <%- include ('../partials/footer') %>
        </footer>
    </div>

    <%- include ('../partials/script') %>

</body>

</html>