<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-6">

            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Employee's Detail</h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-section">
                        <div class="kt-section__info">
                            <b> Full Name: </b><%= employee.firstname %> <%= employee.lastname %><br>
                            <b> Role: </b><%= employee.role %><br>
                            <b> Department: </b><%= employee.department %><br>
                            <b> Joined since: </b><%= moment(employee.createdAt).startOf('hour').fromNow() %>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--end::Portlet-->

            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">Employee's Expenses</h3>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="kt-section">
                        <div class="kt-section__info">
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                                <thead>
                                    <tr>
                                        <th>Expense ID</th>
                                        <th>Title</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Employee</th>
                                        <th>Time</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% employee.expenses.forEach(function(expense) { %>
                                    <tr>
                                        <td><%= expense.id %></td>
                                        <td><%= expense.title %></td>
                                        <td>₦ <%= Number (expense.amount || 0).toLocaleString(); %></td>
                                        <% if (expense.status == 'Approved') { %>
                                            <td><span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill"><%= expense.status %></span></td>
                                        <% } else if (expense.status == 'Pending') { %>
                                            <td><span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill"><%= expense.status %></span></td>
                                        <% } else { %>
                                            <td><span class="kt-badge kt-badge--danger kt-badge--inline kt-badge--pill"><%= expense.status %></span></td>
                                        <% } %>
                                        <td><%= expense.employee_id %></td>
                                        <td><%= moment(expense.createdAt).startOf('hour').fromNow() %></td>
                                        <td nowrap> 
                                            <a href="<%= expense.id %>" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="View">
                                                <i class="la la-eye"></i>
                                            </a>
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Edit">
                                              <i class="la la-edit"></i>
                                            </a>
                                            <a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md" title="Delete">
                                                <i class="la la-trash"></i>
                                            </a>
                                            
                                        </td>
                                    </tr>
                                    <% }); %>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>