<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">overview</h2>
                    </div>
                </div>
            </div>
            <div class="row m-t-25">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                                <div class="text">
                                    <h2><%= expenseCount %></h2>
                                    <span>Expenses</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                                <div class="text">
                                    <h2><%= employeeCount %></h2>
                                    <span>Employees</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                                <div class="text">
                                    <h2><%= totalSum %></h2>
                                    <span>Total Amount</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart4"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1 m-b-30">Expenses By Employees</h2>
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-striped table-earning" >
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Details</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <% expenses.forEach(function(expense) { %>
                                    <tr>
                                      <td><%= expense.id %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"> <%= moment(expense.createdAt).startOf('hour').fromNow() %> </a></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.desc %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.amount %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.type %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.category%></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.department%></td>
                                      <td>
                                      <% if (expense.status == 'Pending') { %>
                                      <p class="btn btn-warning btn-xs"><%= expense.status%></p>
                                      <% } else if (expense.status == 'Approved') { %>
                                      <p class="btn btn-success btn-xs"><%= expense.status%></p>
                                      <% } else if (expense.status == 'Disapproved') { %>
                                      <p class="btn btn-danger btn-xs"><%= expense.status%></p>
                                      <% } else { %>
                                      <% } %>
                                      </td>
                                      <td>
                                            <% if (expense.status == 'Approved') { %>
                                                <a href="/expense/expense/<%= expense.id %>/update" class="btn btn-Danger btn-xs">Disapprove</a>
                                            <% } else if (expense.status == 'Disapproved') {%>
                                                <a href="/expense/expense/<%= expense.id %>/delete" class="btn btn-success btn-xs disabled">Approve</a>
                                            <% } else {%>
                                                <a href="/expense/expense/<%= expense.id %>/delete" class="btn btn-success btn-xs">Approve</a>
                                            <% } %>
                                      
                                      </td>
                                    </tr>
                                    <% }); %>
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1 m-b-30">Expenses Status</h2>
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-striped table-earning" >
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Details</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <% expenses.forEach(function(expense){ %>
                                    <% if (expense.status == 'Pending') { %>
                                    <tr>
                                      <td><%= expense.id %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= moment(expense.createdAt).startOf('hour').fromNow() %></a></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.desc %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.amount %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.type %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.category%></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.department%></td>
                                      <td>
                                      <% if (expense.status == 'Pending') { %>
                                      <p class="btn btn-warning btn-xs"><%= expense.status%></p>
                                      <% } else if (expense.status == 'Approve') { %>
                                      
                                      <% } %>
                                      </td>
                                      <td><a href="/expense/expense/<%= expense.id %>/update" class="btn btn-success btn-xs">Approve</a> </td><% }; %>
                                    </tr>
                              <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
           <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1 m-b-30">Top 5 Expenses</h2>
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-striped table-earning" >
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Details</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Approval</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <% expenses.forEach(function(expense){ %>
                                    <% if (expense.amount > '1000') { %>
                                    <tr>
                                      <td><%= expense.id %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= moment(expense.createdAt).startOf('hour').fromNow() %></a></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.desc %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.amount %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.type %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.category%></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.department%></td>
                                      <td>
                                      <% if (expense.amount > '1000') { %>
                                      <p class="btn btn-warning btn-xs"><%= expense.status%></p>
                                      <% } else if (expense.status == 'Approve') { %>
                                      <p class="btn btn-danger btn-xs"><%= expense.status%></p>
                                      <% } %>
                                      </td>
                                      <td><a href="/expense/expense/<%= expense.id %>/update" class="btn btn-success btn-xs">Approve</a> </td><% }; %>
                                    </tr>
                              <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

  <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1 m-b-30">Expenses By Category</h2>
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-striped table-earning" >
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Details</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Approval</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <% expenses.forEach(function(expense){ %>
                                   <% if (expense.category == 'Fuel') { %>
                                    <tr>
                                      <td><%= expense.id %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= moment(expense.createdAt).startOf('hour').fromNow() %> </a></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.desc %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.amount %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.type %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.category%></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.department%></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.status%></td>
                                      <td><a href="/expense/expense/<%= expense.id %>/update" class="btn btn-success btn-xs">Approved</a> </td><% }; %>
                                      <!--<td><a href="/expense/expense/<#%= expense.id %>/delete" class="btn btn-danger btn-xs">Decline</a></td>-->
                                    </tr>
                              <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
  <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1 m-b-30">Recent Expenses</h2>
                    <div class="table-responsive m-b-40">
                        <table class="table table-borderless table-striped table-earning" >
                                <thead>
                                  <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Details</th>
                                    <th>Amount</th>
                                    <th>Type</th>
                                    <th>Category</th>
                                    <th>Department</th>
                                    <th>Status</th>
                                    <th>Approval</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <% expenses.forEach(function(expense){ %>
                                  <% if (expense.createdAt >= '02-17-2020' && expense.createdAt <= '02-22-2020') { %>
                                    <tr>
                                      <td><%= expense.id %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= moment(expense.createdAt).startOf('hour').fromNow() %></a></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.desc %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.amount %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.type %></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.category%></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.department%></td>
                                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.status%></td>
                                      <td><a href="/expense/expense/<%= expense.id %>/update" class="btn btn-success btn-xs">Approved</a> </td><% }; %>
                                      <!--<td><a href="/expense/expense/<#%= expense.id %>/delete" class="btn btn-danger btn-xs">Decline</a></td>-->
                                    </tr>
                              <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

</div>
</div>
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- END MAIN CONTENT-->
